aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alabaster
annotated-types
anyio
astroid
attrs
Authlib
babel
certifi
cffi
charset-normalizer
click
cryptography
dataclasses-json
dill
docutils
fastapi
ffmpy
filelock
frozenlist
fsspec
ghp-import
gradio
gradio_client
greenlet
grpcio
grpcio-health-checking
grpcio-tools
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
imagesize
isort
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langchain-weaviate
langsmith
Markdown
markdown-it-py
MarkupSafe
marshmallow
mccabe
mdurl
mergedeep
mkdocs-get-deps
mpmath
multidict
mypy-extensions
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ollama
orjson
packaging
pandas
pathspec
pillow
platformdirs
propcache
protobuf
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
pylint
PyMuPDF
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyyaml_env_tag
regex
requests
requests-toolbelt
rich
ruff
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
setuptools
shellingham
simsimd
six
sniffio
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
tomlkit
torch
tqdm
transformers
triton
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
validators
watchdog
weaviate
weaviate-client
websockets
yarl
zstandard
